body {
    background-color: #a1e4ff;
    display: grid;
    grid-template:  .5fr 1fr / .25fr 1fr;
    grid-template-areas: "story issue"
                         "story main";
}

#story {
    grid-area: story;
    padding: 1rem;
}

#issue {
    display: flex;
    justify-content: space-evenly;
    grid-area: issue;
    padding: 1rem;
}

#main {
    grid-area: main;
    padding: 1rem;
}

.issues {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 25%;
}

h1 {
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}